        <div class="links">

            <ul class="link-list">

                <h4>Docs</h4>
                <a target="_blank" href="//sailsjs.org/#!documentation/anatomy"><li>App Structure</li></a>
                <a target="_blank" href="//sailsjs.org/#!documentation/reference"><li>Reference</li></a>
                <a target="_blank" href="//links.sailsjs.org/docs/faq"><li>FAQ</li></a>
                <a target="_blank" href="//sailsjs.org"><li>Supported Databases</li></a>

                <h4>Tutorials</h4>
                <a target="_blank" href="//github.com/sails101"><li>Sails 101</li></a>

                <h4>Community</h4>
                <a target="_blank" href="//stackoverflow.com/search?q=sails.js"><li>StackOverFlow</li></a>
                <a target="_blank" href="//github.com/balderdashy/sails"><li>GitHub</li></a>
                <a target="_blank" href="//groups.google.com/forum/#!forum/sailsjs"><li>Google Group</li></a>
                <a target="_blank" href="//webchat.freenode.net/"><li>IRC (#sailsjs on freenode)</li></a>

            </ul>
        </div>
