.navbar {
	margin-bottom: 0px;
}

.login-or {
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
}

.span-or {
    overflow: hidden;
}

.span-or:before, .span-or:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.span-or:before {
    right: 0.5em;
    margin-left: -50%;
}

.span-or:after {
    left: 0.5em;
    margin-right: -50%;
}

.span-or:before, .span-or:after {
	background-color: #eee;
}

.row.form-bottons {
	text-align: center;
	margin-top: 10px;
}

footer p {
	margin-bottom: 20px;
}

